<main>
  <h1>Trips Dashboard</h1>
  <div class='show-display'>
    <section>
      <h2>Average Duration:</h2>
      <h3><%= @average.to_i %> seconds</h3>
    </section>
    <section>
      <h2>Longest Ride:</h2>
      <h3><%= link_to @longest, trip_path(@longest) %>
    </section>
    <section>
      <h2>Shortest Ride:</h2>
      <h3><%= link_to @shortest, trip_path(@shortest) %>
    </section>
    <section>
      <h2>Station With Most Rides Started:</h2>
      <h3><%= link_to @most_starts.name, station_path(@most_starts) %></h3>
    </section>
    <section>
      <h2>Station With Most Rides Ended:</h2>
      <h3><%= link_to @most_ends.name, station_path(@most_ends) %></h3>
    </section>
    <section>
      <h2>Most Ridden Bike:</h2>
      <h3><%= @most_ridden_bike %>, <%= @most_bike_rides %> rides</h3>
    </section>
    <section>
      <h2>Least Ridden Bike:</h2>
      <h3><%= @least_ridden_bike %>, <%= @fewest_bike_rides %> rides</h3>
    </section>
    <section>
      <h2>Subscribers:</h2>
      <h3><%= @subscriber_count %>, <%= @subscriber_percent %>%</h3>
    </section>
    <section>
      <h2>Customers:</h2>
      <h3><%= @customer_count %>, <%= @customer_percent %>%</h3>
    </section>
    <section>
      <h2>Date With Most Rides:</h2>
      <h3><%= @max_date.start_date.strftime('%D') %>, <%= @max_date.date_count %></h3>
    </section>
    <section>
      <h2>Date With Fewest Rides:</h2>
      <h3><%= @min_date.start_date.strftime('%D') %>, <%= @min_date.date_count %></h3>
    </section>
<br>
  <h3>Trips by Month</h3>
    <%@months.each do |month| %>
    <section>
      <h2><%= month[0].strftime('%B, %y') %>:</h2>
      <h3><%= month[1] %></h3>
    </section>
    <% end %>

<br>
<br>
<h3>Trips by Year</h3>
    <%@years.each do |year| %>
    <section>
      <h2>20<%= year[0].strftime('%y') %>:</h2>
      <h3><%= year[1] %></h3>
    </section>
    <% end %>
  </div>


</main>
