<main>
  <h1>Trips Dashboard</h1>

  <div class='show-display'>
    <section>
      <h2>Average Duration:</h2>
      <h3><%= @average.to_i %> seconds</h3>
    </section>
    <section>
      <h2>Longest Ride:</h2>
      <h3><%= link_to @longest, trip_path(@longest) %>
    </section>
    <section>
      <h2>Shortest Ride:</h2>
      <h3><%= link_to @shortest, trip_path(@shortest) %>
    </section>
    <section>
      <h2>Station With Most Rides Started:</h2>
      <h3><%= link_to @most_starts.name, trip_path(@most_starts) %></h3>
    </section>
    <section>
      <h2>Station With Most Rides Ended:</h2>
      <h3><%= link_to @fewest_starts.name, trip_path(@fewest_starts) %></h3>
    </section>
    <section>
      <h2>Most Ridden Bike:</h2>
      <h3><%= @most_ridden_bike %>, <%= @most_bike_rides %> rides</h3>
    </section>
    <section>
      <h2>Least Ridden Bike:</h2>
      <h3><%= @least_ridden_bike %>, <%= @fewest_bike_rides %> rides</h3>
    </section>
    <section>
      <h2>Subscribers:</h2>
      <h3><%= @subscriber_count %>, %<%= @subscriber_percent %></h3>
    </section>
    <section>
      <h2>Customers:</h2>
      <h3><%= @customer_count %>, %<%= @customer_percent %></h3>
    </section>
    <section>
      <h2>Date With Most Rides:</h2>
      <h3><%= @max_date.start_date.to_s[0..9] %>, %<%= @max_date.date_count %></h3>
    </section>
    <section>
      <h2>Date With Fewest Rides:</h2>
      <h3><%= @min_date.start_date.to_s[0..9] %>, %<%= @min_date.date_count %></h3>
    </section>
  </div>
</main>
