<h1>Trip</h1>

<section><h2>Start Date:</h2><h3> <%= @trip.start_date %></h3></section>
<section><h2>Start Station:</h2><h3><%= @trip.start_station.name %></h3></section>
<section><h2>End Date:</h2><h3><%= @trip.end_date %></h3></section>
<section><h2>End Station:</h2><h3><%= @trip.end_station.name %></h3></section>
<section><h2>Bike ID:</h2><h3><%= @trip.bike_id %></h3></section>
<section><h2>Subscription:</h2><h3><%= @trip.subscription_type %></h3></section>
<section><h2>Subscription:</h2><h3><%= @trip.zip_code %></h3></section>
