<main>
  <h1>Login</h1>
  <article>
    <%= form_tag login_path do %>
    <section>
      <h2>Email:</h2>
      <h3><%= text_field_tag :email %></h3>
    </section>
    <section>
      <h2>Password:</h2>
      <h3><%= password_field_tag :password %></h3>
    </section>
    <h3><%= submit_tag 'Log In',class: 'add-button' %><h3>
    <% end %>
  </article>
  <h3><%= link_to "Create Account", new_user_path %></h3>
</main>
