<h1>Total Stations: <%=@total_station_count%></h1>
<h1>Average Bike Count Per Station: <%=@avg_bikes_count%></h1>
<h1>Most Bikes available at a station: <%=@most_bikes_in_one_station%></h1>
<h1>Fewest Bikes available at a station: <%=@fewest_bikes_in_one_station%></h1>
<h1>Station with most bikes: <%=@station_with_most_bikes%></h1>
<h1>Station with fewest bikes: <%=@station_with_fewest_bikes%></h1>
<h1>Most recently installed station: <%=@recent_station%></h1>
<h1>Oldest station: <%=@oldest_station%></h1>
