<main>
  <h1>Stations Dashboard</h1>

  <div class='show-display'>
    <section>
      <h2>Total Stations:</h2>
      <h3><%=@total_station_count%></h3>
    </section>
    <section>
      <h2>Average Bike Count Per Station:</h2>
      <h3><%=@avg_bikes_count%></h3>
    </section>
    <section>
      <h2>Most Bikes available at a station:</h2>
      <h3><%=@most_bikes_in_one_station%></h3>
    </section>
    <section>
      <h2>Fewest Bikes at a station:</h2>
      <h3><%=@fewest_bikes_in_one_station%></h3>
    </section>
    <section>
      <h2>Most recently installed station:</h2>
      <h3><%= link_to @recent_station, station_path(@recent_station) %></h3>
    </section>
    <section>
      <h2>Oldest station:</h2>
      <h3><%= link_to @oldest_station, station_path(@oldest_station) %></h3>
    </section>

    <h3>Station with Most bikes:</h3>
    <table>
      <tr>
        <th>Station Name</th>
        <th>Bikes Count</th>
      </tr>
      <% @station_with_most_bikes.each do |station| %>
      <tr>
        <td><%= link_to station.name, station_path(station) %></td>
        <td><%=@most_bikes_in_one_station%></td>
      </tr>
      <%end%>
    </table>


    <h3>Station with Fewest bikes:</h3>
    <table>
      <tr>
        <th>Station Name</th>
        <th>Bikes Count</th>
      </tr>
      <% @station_with_fewest_bikes.each do |station| %>
      <tr>
        <td><%= link_to station.name, station_path(station) %></td>
        <td><%=@fewest_bikes_in_one_station%></td>
      </tr>
      <%end%>
    </table>

  </section>
</div>
</main>
