<main>
  <article>
    <%= form_for [:admin, @accessory] do |f| %>
      <section>
        <h2>Name:</h2>
        <h3><%= f.text_field :title%></h3>
      </section>

      <section>
        <h2>Price:</h2>
        <h3><%= f.text_field :price%></h3>
      </section>

      <section>
        <h2>Description:</h2>
        <h3><%= f.text_field :description%></h3>
      </section>

      <section>
        <h2>Image:</h2>
        <h3><%= f.text_field :image%></h3>
      </section>
      <h3><%=f.submit class: 'add-button'%></h3>
    <%end%>
  </article>
</main>
