<article>
  <%= form_for @user do |f| %>
  <section>
    <h2>Full Name:</h2>
    <h3><%= f.text_field :name %></h3>
  </section>
  <section>
    <h2>Email:</h2>
    <h3><%= f.text_field :email %></h3>
  </section>
  <section>
    <h2>Password:</h2>
    <h3><%= f.password_field :password %></h3>
  </section>
  <section>
    <h2>Address:</h2>
    <h3><%= f.text_field :address %></h3>
  </section>
  <h3><%= f.submit class: 'add-button' %>
  <% end %></h3>
</article>
