<main>
  <article>
  <%= form_for [:admin, @station] do |f| %>
    <section>
      <h2>Name:</h2>
      <h3><%= f.text_field :name%></h3>
    </section>

    <section>
      <h2>Dock Count:</h2>
      <h3><%= f.text_field :dock_count%></h3>
    </section>

    <section>
      <h2>City:</h2>
      <h3><%= f.text_field :city%></h3>
    </section>

    <section>
      <h2>Installation Date:</h2>
      <h3><%= f.text_field :installation_date%></h3>
    </section>

    <h3><%=f.submit class: 'add-button'%></h3>
  <%end%>
  </article>
</main>
