
<%= form_for [:admin, @trip] do |f| %>
  <section>
    <h2>Start Date:</h2>
    <%= f.text_field :start_date%>
  <section>
  <section>
    <h2>End Date:</h2>
    <%= f.text_field :end_date%>
  <section>
    <h2>Bike ID:</h2>
    <%= f.text_field :bike_id%>
  </section>
  <section>
    <h2>Subscription Type:</h2>
    <%= f.text_field :subscription_type%>
  </section>
  <section>
    <h2>Zip Code:</h2>
    <%= f.text_field :zip_code%>
  </section>
  <section>
    <h2>Start Station</h2>
    <%= f.text_field :start_station_id%>
  </section>
  <section>
    <h2>End Station:</h2>
    <%= f.text_field :end_station_id%>
  </section>
  <%=f.submit%>
<%end%>
