<main>
  <h1>Cart</h1>
  <h2>Total Cost: <%= @total %></h2>
  <div class='accessories'>
    <% @cart_items.each do |item, quantity| %>
      <section>
          <h2><%= link_to item.title, accessory_path(item) %></h2>
          <div class='med-image'><a href="/accessories/<%=item.id%>"><img src="<%=item.image%>" alt="Forest"></div>
            <h3>Quantity: <%= quantity %></h3>
            <h3><%= button_to 'Remove', carts_path(accessory: item.id), class: 'delete-button',  method: 'delete'%></h3>
      </section>
    <% end %>
  </div>
</main>
