<main>
  <h1> Bike Shop </h1>
  <div class='accessories'>
    <% @accessories.each do |a| %>
      <section>
          <h2><%= link_to a.title, accessory_path(a) %></h2>
          <div class='med-image'><img src="<%=a.image%>" alt="Forest"></div>
          <%if a.is_retired?%>
            <% if current_admin? %>
              <div class='admin-buttons'>
                <%= button_to 'Edit', edit_admin_accessory_path(a), method: :get, class: 'edit-button' %>
              <%= button_to 'Reactivate', admin_accessory_path(a, is_retired?: false), method: :put, class: 'add-button' %>
            </div>
            <%end %>
            <h3>Accessory Retired</h3>
          <%else%>
            <% if current_admin? %>
            <div class='admin-buttons'>
              <%= button_to 'Edit', edit_admin_accessory_path(a), method: :get, class: 'edit-button' %>
              <%= button_to 'Retire', admin_accessory_path(a, is_retired?: true), method: :put, class: 'delete-button'%>
            </div>
            <%end%>
            <h3><%= link_to 'Add to cart', '/bike-shop' %></h3>
          <%end%>
      </section>
    <% end %>
  </div>
</main>
