<main>
  <h1> Bike Shop </h1>
  <div class='accessories'>
    <% @accessories.each do |a| %>
      <section>
          <h2><%= link_to a.title, accessory_path(a) %></h2>
          <img src="<%=a.image%>" alt="Forest" style="width:100px">
          <%if a.is_retired?%>
            <% if current_admin? %>
              <%= button_to 'Reactivate', admin_accessory_path(a, is_retired?: false), method: :put %>
              <%= button_to 'Edit', edit_admin_accessory_path(a), method: :get %>
            <%end %>
            <h4>Accessory Retired</h4>
          <%else%>
            <%= link_to 'Add to cart', '/bike-shop' %>
            <% if current_admin? %>
              <%= button_to 'Edit', edit_admin_accessory_path(a), method: :get %>
              <%= button_to 'Retire', admin_accessory_path(a, is_retired?: true), method: :put%>
            <%end%>
          <%end%>
      </section>
    <% end %>
  </div>
</main>
