<main>
  <h1><%=@accessory.title %></h1>

  <div class='show-display'>
    <img src=<%= @accessory.image %>></img>
    <p><%= @accessory.description %></p>
    <section>
      <h2>Price:</h2>
      <h3><%= @accessory.price %></h3>
    </section>
    <%if @accessory.is_retired?%>
      <% if current_admin? %>
        <h3><%= button_to 'Reactivate', admin_accessory_path(@accessory, is_retired?: false), method: :put, class: 'add-button' %></h3>
        <h3><%= button_to 'Edit', edit_admin_accessory_path(@accessory), method: :get, class: 'edit-button' %></h3>
      <% end %>
      <h3>Accessory Retired</h3>
      <%else%>
      <h3><%= button_to 'Add to cart', carts_path(accessory_id: @accessory.id), class: 'add-button' %></h3>
      <% if current_admin? %>
      <h3><%= button_to 'Edit', edit_admin_accessory_path(@accessory), method: :get, class: 'edit-button' %></h3>
      <h3><%= button_to 'Retire', admin_accessory_path(@accessory, is_retired?: true), method: :put, class: 'delete-button'%></h3>
      <%end%>
    <%end%>
  </div>
</main>
