<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "Stations", stations_path %>
      <%= link_to "Trips", trips_path %>
      <%= link_to 'Accessories', '/admin/bike-shop' %>
      <% if current_user %>
        <% if current_admin? %>
          <%= link_to "Admin Dashboard", '/admin/dashboard' %>
        <% else %>
          <%= link_to "My Profile", '/dashboard' %>
        <% end %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </nav>
    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% elsif flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
